Package: spyglasswebcamserver
Version: VERSION
Section: electronics
Priority: standard
Architecture: all
Depends: duetpluginservice (>= 3.5), python (>= 3.8), python3-libcamera
Maintainer: Duet3D Packaging Authority <pkg@duet3d.com>
Homepage: https://pkg.duet3d.com
Description: Spyglass webcam server plugin for DSF
